# VCS
.git
.gitmodules
.gitignore
.github

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

pip-wheel-metadata/
.uv/
.uv_cache/
.cache/
.cache/**

# 편집기/IDE
.vscode/
.idea/
*.swp
*.swo

# 로그 관련 내용은 NFS로 볼륨 마운팅, 빌드 때는 필요없음
logs/
assets/audios/
assets/datasets/

# 로그/OS/기타 잡파일
*.log
.DS_Store
Thumbs.db
.env
*.exe

# 모델 파일들
*.pt
*.pth
*.index
*.onnx
*.ckpt
*.safetensors