services:
  applio:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "6969:6969"
    container_name: anai-applio
    restart: always
    pid: host
    privileged: true
    environment:
      - RUN_ENV=development
      - GRADIO_ROOT_PATH=/applio
    volumes:
      - "${HOME}/.aws:/root/.aws:ro"
      - "./logs:/app/logs"
    shm_size: "48gb"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 2
              capabilities: [ gpu ]